@model KiranHospitalAppointmentSystem.Models.Doctor

<div class="card">
    <div class="card-header">
        <h1>@Model.DoctorName</h1>
    </div>
    <div class="card-body">
        <p>@Model.Contact</p>
        <p>@Model.Email</p>
        <p>@Model.SpecializedIn</p>
        <p>@Model.YearsOfExperience</p>
</div>
</div>