
@* This view is a strongly typed view *@
 @*  setting what is the model class *@

@model IEnumerable<KiranHospitalAppointmentSystem.Models.Patient>

    <h1>@ViewBag.Author</h1>
    <h3>@ViewBag.Role</h3>

    <h2 style="margin-left:200px">Patients Detail</h2>
    <p>@ViewBag.Key</p>


    <div class="card-group">
         @foreach (var item in Model)// used for getting the model data 
   {
       <div class="card w-25">
           <div class="card-header">
               <h2>@item.PatientName</h2>
               </div>
               <div class="card-body">
                   <h4>@item.PatientHistory</h4>
                   </div>
                     <div class="card-footer">
               <a asp-action="PatientDetail" class="btn btn-info" asp-route-patientId=@item.PatientId>Details</a>

               <a asp-action="Delete" class="btn btn-danger" asp-route-patientId=@item.PatientId>Delete</a>
               </div>
           </div>

         
   }

    </div>
   
    <a asp-action="AddNewPatient" class="btn btn-warning"> New Patient</a>




@*  HTML code + C# code -->Razor syntax  

<h2 style="margin-left:200px;color:brown">@ViewBag.Title</h2>

@foreach(var item in ViewBag.Patients)
{
   <p>@item.PatientName+"   "+@item.</p>
}
*@